fastapi[standard]
uvicorn
pytest
pytest-asyncio
httpx
ruff
pyright

# DataBase
sqlmodel
alembic
asyncpg
psycopg2-binary
aiosqlite

# Taskiq
taskiq
taskiq[reload]
taskiq-redis
taskiq-fastapi
taskiq-aio-pika
